<p id="notice"><%= notice %></p>

<div class="container">
  <div class="form-wrap">
    <%= form_tag(posts_path, method: "get", remote: true) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter hipster term" %>
      <%= submit_tag "Search", id:"search-btn" %>
    <% end %>
  </div>
  <div id="blogpost-table">
    <% @posts.each do |post| %>
      <div class="blog-card-title">
       <p><%= post.created_at.strftime("%B %e, %Y") %></p>
      </div>
      <div class="blog-card-body">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
      </div>
    <% end %>
  </div>
  <div id="search-results">

  </div>
</div>
